@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-image{
  height: 300px !important;
  width: 300px !important;
}

// .background-ad{
//   background-image: url("../images/landing-dog.jpg");
// }
.navbar-collapse{
  flex-grow : 0 !important
}
.nav-item{
  justify-content: flex-end;
  display: flex;
}
.bg-orange-500{
  background-color: rgb(255, 68, 4) !important;
}
.m-list{
  display: contents;
}
.navbar-toggler-icon{
  background-color: white !important;
  --bs-navbar-toggler-border-color: white !important;
}

.sm-input{
  z-index: 100;
}

.search{
  border: 1px gray solid !important;
}
@media only screen and (max-width: 991px) {
  .bg-item{
    background-color: rgba(5, 5, 5, 0.644);
  }
  .header-input{
    display: none;
  }
  .sm-input{
    display: black;
  }
  .white-color{
    color: white !important;
  }
}
@media only screen and (min-width: 992px) {
  .bg-item{
    background-color: rgba(5, 5, 5, 0);
  }
  .header-input{
    display: black;
  }
  .sm-input{
    display: none;
  }
  .white-color{
    color: black !important;
  }
}